.card{
  background-color: darkturquoise;
  padding-left: 25px;
  padding-right:25px;
  padding-top:25px;
  padding-bottom:25px;
  margin-bottom:25px;
  
}


    
mat-card{
      background-color:rgb(207, 253, 235) !important;
      padding: 0px;
      margin-right: 250px;
      margin-left: 250px;
      margin-top: 70px;
      padding-top:0px;
      width: 870px;
      align-items: center;
      }
     mat-card-content{
      flex:1 1 auto;
      text-align:right;
      padding: inline 1px!important;
      padding-left:20px;
      padding-right:25px;
      padding-bottom: 21px;
      padding-top:21px;
     
      line-height: 10px;
      vertical-align: middle;
      
      
      

      }
      

      .spacer {
        flex: 1 1 auto;
    }
     .mat-icon {
      background: #f8f2f2;
      padding:35px;
      border-radius: 70%;
      line-height: 2px;
      vertical-align:center;
      padding-right: 60px;
      
      
  } 
  ::ng-deep.card{

    border: 55px !important;
    border-radius: 30px !important;
    border: #000 !important;
   }
  
    
    
   
    