<div style="display:flex; flex-flow: row wrap;">
<mat-card class="example-card">
<mat-toolbar  color="primary">
  
          
          <span>Employee Record</span>
  
          <span class ="spacer"></span>
  
          <a onclick="add"mat-button routerlink="/add">ADD</a>
         
 </mat-toolbar>
  
  <div class="container mt-2">
<!-- horizontal card 1 -->
<div class="card">
  <div class="row wrap">
    <div class="col-md-4">
      <img src="/assets/images/empimage.png" class="img-fluid" class="example-card mat-elevation-z4">

    </div>
    <div class="col-md-5">
      <h2 class="card-title mt-3">EMPLOYEE NAME</h2>
      <h3 class="card-subtitle mt-2">Employee Address:</h3>
      <h3 class="card-subtitle mt-2">Mob no:000000000</h3>
      <h2 class="card-subtitle mt-2">Join date:</h2>
     </div>
     <div class="col-md-3">
      <mat-icon class =" mt-5">delete</mat-icon>
     </div>
  </div>
</div>

  </div>



  <div class="container mt-2"> 
    <!--horizontal card2-->
     <div class="card">
      <div class="row wrap">
        <div class="col-md-4">
          <img src="/assets/images/empimage.png" class="img-fluid" class="example-card mat-elevation-z4">
    
        </div>
        <div class="col-md-5">
          <h2 class="card-title mt-3">EMPLOYEE NAME</h2>
          <h3 class="card-subtitle mt-2">Employee Address:</h3>
          <h3 class="card-subtitle mt-2">Mob no:000000000</h3>
          <h2 class="card-subtitle mt-2">Join date:</h2>
         </div>
         <div class="col-md-3">
          <mat-icon class =" mt-5">delete</mat-icon>
         </div>
      </div>
    </div>
    
      </div>



      <div class="container mt-2">
        <!--horizontal card3-->
        <div class="card">
          <div class="row wrap">
            <div class="col-md-4">
              <img src="/assets/images/empimage.png" class="img-fluid" class="example-card mat-elevation-z4">
        
            </div>
            <div class="col-md-5">
              <h2 class="card-title mt-3">EMPLOYEE NAME</h2>
              <h3 class="card-subtitle mt-2">Employee Address:</h3>
              <h3 class="card-subtitle mt-2">Mob no:000000000</h3>
              <h2 class="card-subtitle mt-2">Join date:</h2>
             </div>
             <div class="col-md-3">
              <mat-icon class =" mt-5">delete</mat-icon>
             </div>
          </div>
        </div>
        
          </div>
</mat-card></div>