<!-- <breadcrumb #parent>
  <ol class ="breadcrumb">
    <ng-template ngFor let-route [ngForof]="parent.breadcrumbs">
      <li *ngIf="!route.terminal" class="breadcrumb-item">
<a href="" [routerLink]="[route.url]">{{route.displayName}}</a>
      </li>
      <li *ngIf="route.terminal" class="breadcrumb-item active">{{route.displayName}}</li>
      
    </ng-template>
  </ol>
</breadcrumb> -->

<!-- <mat-toolbar color=primary>
  <mat-icon>eco</mat-icon>
  <span>HRMS</span>
</mat-toolbar>
<app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
<router-outlet></router-outlet> -->











<!-- <app-login></app-login> -->
<!-- //buutons on toolbar -->

  <!-- <div class='spacer'></div>
<a mat-button>login</a>
  <a mat-button>about</a>
</mat-toolbar> -->

<!-- //routerlink try -->

<!-- <nav>
  <a routerLink="home">home</a>
  <a routerLink="login">login</a>
</nav> -->
<!-- <router-outlet></router-outlet> -->


<!-- //matcard first -->


<!-- side bar -->
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/home'"> home</a>
      <a mat-list-item [routerLink]="'/login'"> login </a>
      <a mat-list-item [routerLink]="'/payslip'"> payslip </a>
      <a mat-list-item [routerLink]="'/leave'">leave </a>
      <a mat-list-item [routerLink]="'/attendance'"> Attendance </a>
      
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



