<!-- <h4>sweethome</h4> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div style="display:flex; flex-flow: row wrap;">
    
    
    <mat-card routerLink="/attendance" class="example-card mat-elevation-z4">
      <img mat-card-image src="assets/images/attendance.png" alt="Photo of a attendance">     
        <mat-card-footer>ATTENDANCE</mat-card-footer>
      </mat-card> 
   
      
   
  
      <!-- <span class="version-info">Current build: {{ version.full }}</span>
  </div> -->
  
  <!-- //matcard 2 -->
   
          <mat-card routerLink="/employee"class="example-card mat-elevation-z4">
        <img mat-card-image src="assets/images/employee.png" alt="Photo of a Employee">     
          <mat-card-footer>EMPLOYEE</mat-card-footer>    
      </mat-card>
    
        
   
      
  
      <!-- //matcard 3 -->
       <mat-card routerLink="/payslip"class="example-card mat-elevation-z4">     
        <img mat-card-image src="assets/images/payslip.png" alt="Photo of a PAYSLIP">
        <mat-card-footer>PAYSLIP</mat-card-footer>
         </mat-card>
   
      <!-- //matcard 4 -->
       <mat-card routerLink="/leave" class="example-card mat-elevation-z4">
        <img mat-card-image src="assets/images/leave.png" alt="Photo of a leave">
          <mat-card-footer>LEAVE</mat-card-footer>
           </mat-card> 
      
  </div>
      
  
    
      
  
    
 